body
{
	margin:0;
	padding: 0;
	background-image: url('art-black-background-blur-1040499.jpg');
	background-size: cover;
}
.loginbody
{
	left: 40%;
	top: 5%;
	width: 250px;
	height: 500px;
	position: absolute;
}
#text
{
	font-family: sans-serif;
	font-size: 60px;
	color: rgb(1, 19, 43);
	border-bottom: 0px solid;
	border-color: rgb(251, 188, 127);
	text-align: center;
}
input
{
	top: 5px;
	position: relative;
	width: 100%;
	background:rgb(1, 19, 43);
	border:none;
	outline: none;
	font-family: sans-serif;
	font-size: 18px;
	border-bottom: 2px solid;
	border-color: #adebad;
	margin-bottom: 10px;
	padding: none;
	color: aliceblue;
}
input::placeholder
{
	color:  #ffff;
	font-weight: bold;
	text-align: center;

}
#imga
{
	width: 30px;
	height: 30px;
	top: 0px;
	position: relative;
}
#imgb
{
	width: 30px;
	height: 30px;
	top: 0px;
	position: relative;
	border-radius: 50%;
}
.btn
{
	top: 10px;
	left: 0px;
	position: relative;
	font-family: sans-serif;
	font-size: 30px;
	color: #ffff;
}
#redirect
{
	font-family: sans-serif;
	font-size: 14px;
	color: rgb(1, 19, 43);
	top: 10px;
	position: relative;
}