body
{
	margin: 0;
	padding: 0;
	background-image: url('art-backdrop-background-1985172.jpg');
	background-size: cover;
}
.intro
{
	font-family: sans-serif;
	font-size: 60px;
	color: #0000cc;
	letter-spacing: 0em;
	position: relative;
	top: 30px;
	left: 350px;
}
.text
{
	font-family: sans-serif;
	font-size: 30px;
	color:  #cc0000;
	position: absolute;
	top: 80px;
}
.information
{
	width: 420px;
	height: 750px;
	background:#ffffe6;
	top: 35%;
	left:35%;
	position: absolute;

}
.image
{
	height: 120px;
	width: 130px;
	left: 35%;
	position: relative;
	border-radius:50%;
	border-style: solid;
	border-color:#ff0000;
}
.hello
{
	font-family: sans-serif;
	font-size: 40px;
	color:  #ff3399;
	left: 25px;
	position: relative;
}

#User_name
{
	font-family: sans-serif;
	font-size: 22px;
	color: #00b300;
	left: 35%;
	position: relative; 

}
#requirement
{
	font-family: sans-serif;
	font-size: 22px;
	color: #00b300;
	left: 3%;
	position: relative; 

}
#Password
{
	font-family: sans-serif;
	font-size: 22px;
	color: #00b300;
	left: 35%;
	position: relative; 

}
#Password2
{
	font-family: sans-serif;
	font-size: 22px;
	color: #00b300;
	left: 25%;
	position: relative; 

}
input.mydesign
{
	width:100%;
	border:None;
	outline:None;
	background:transparent;
	border-bottom: 2px solid #ff9900;
	text-align: center;
	color:  #005c99;
	font-size: 22px;
}
.finale
{
	top: 58 px;
	left: 40%;
	position: relative;
	background-color:  #ffcc00;
	border-radius: 35px;
	font-family: sans-serif;
	font-size:25px; 
	color: #990099;
}

