body
{
	background:#000;
	padding: 0;
	margin: 0;
	background-size: cover;
	height: 100vh;
	
}
.heading
{
	font-family: 'sans-serif';
	font-size: 85px;
	color: #248f24;
	text-align: center;
	margin-top: 260px;
	margin-left: 340px;
	letter-spacing: 0.2em;
	position: absolute;
	animation: animate 1s linear forwards;
	animation-duration: 6s;

}
.subtext
{
	font-family: 'sans-serif';
	font-size: 85px;
	color: #b30000;
	text-align: center;
	letter-spacing: 0;
	font-size: 60px;
	margin-left: 10px;
	
}
.redirect
{
	font-family: 'sans-serif';
	font-size: 40px;
	color: #ffff00;
	letter-spacing: 0;
	margin-top: 490px;
	margin-left: 610px;
	position: absolute;
	border-radius:32px;
	padding: 15px, 32px;
	border: hidden;
	animation: animate 1s linear forwards;
	animation-duration: 6s;


}

@keyframes animate
{
	0%
	{
		a;
		filter: blur(100px);
		
	}
}


video
{
	position: fixed;
	min-height: 100%;
	min-width: 100%;
	object-fit: cover;
}

