{% load static %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static "Login/admin.css" %}">
    <title>Admin Panel</title>
  </head>
  <body>
    <img id='logo' src="{% static "Login/websec(3).png" %}">
    <h3 id='admin' ><center>Admin Panel</center></h3>
    <h3 id='warning'>Select the categories of Website which you want to block</h3>>
    <form action="" method="POST">
    {% csrf_token %}
    <h2 id='selection'>Select user</h2>>: 
    <select name="selectUser" id="selectUser_id" onchange="loadNewStatus()">
      {% for user in  modelsActiveStatus_all %}
        <option value="{{ user.username }}">{{ user.username }}</option>
      {% endfor %}
    </select>
    <div id='block'>



      {% with 'game shopping payment movie video tech entertainment' as modelsList%}
        {% for models in modelsList.split %}
        <br><input type="checkbox" id="{{ models }}" name="{{ models }}" value="{{ models }}"> {{ models }}
      {% endfor %}  
      </div>    
      
      <script type="text/javascript">
        loadNewStatus();  //For first time the page is loaded
        function loadNewStatus(){
          var selectedUser = document.getElementById("selectUser_id").value;
          var statusStringJS = ""
          //alert("Selected: " + selectedUser)
          {% for user in  modelsActiveStatus_all %}
            if(selectedUser == "{{user.username}}"){
              var i=0;
              //ssplit
              statusStringJS = "{{user.statusString}}";
              //ssplit
              {% for models in modelsList.split %}
                if(statusStringJS[i] == 1 && i<statusStringJS.length){
                  document.getElementById("{{ models }}").checked = true;
                }
                else{
                  document.getElementById("{{ models }}").checked = false;
                }
                i++;
              {% endfor %}
            }
          {% endfor %}
        }

      </script>

    {% endwith %}

    <br>
    <input id='btn' type="submit" value="Submit">
  </form>
  </body>
</html>
